<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mushanwb.MyMapper">
    <select id="selectNextAvailableLink" resultType="String">
        SELECT LINK FROM LINKS_TO_BE_PROCESSED LIMIT 1
    </select>
    <delete id="deleteLinl" parameterType="String">
        DELETE FROM LINKS_TO_BE_PROCESSED WHERE LINK = #{LINK}
    </delete>
</mapper>